---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 940ms
      X-Forecast-Api-Calls:
      - '1'
      X-Response-Time:
      - 81.653ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1572829570,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-night","nearestStormDistance":0,"precipIntensity":0,"precipProbability":0,"temperature":49.22,"apparentTemperature":47.61,"dewPoint":23.95,"humidity":0.37,"pressure":1015.8,"windSpeed":4.44,"windGust":6.91,"windBearing":104,"cloudCover":0.71,"uvIndex":0,"visibility":6.138,"ozone":259},"minutely":{"summary":"Mostly
        cloudy for the hour.","icon":"partly-cloudy-night","data":[{"time":1572829560,"precipIntensity":0,"precipProbability":0},{"time":1572829620,"precipIntensity":0,"precipProbability":0},{"time":1572829680,"precipIntensity":0,"precipProbability":0},{"time":1572829740,"precipIntensity":0,"precipProbability":0},{"time":1572829800,"precipIntensity":0,"precipProbability":0},{"time":1572829860,"precipIntensity":0,"precipProbability":0},{"time":1572829920,"precipIntensity":0,"precipProbability":0},{"time":1572829980,"precipIntensity":0,"precipProbability":0},{"t[...]
