---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_API_KEY>&latlng=35.675,-47.893
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "global_code" : "887JM4F4+XQ"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Atlantic Ocean",
                       "short_name" : "Atlantic Ocean",
                       "types" : [ "establishment", "natural_feature" ]
                    }
                 ],
                 "formatted_address" : "Atlantic Ocean",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 68.1962901,
                          "lng" : 19.9970779
                       },
                       "southwest" : {
                          "lat" : -75.9725902,
                          "lng" : -82.9931606
                       }
                    },
                    "location" : {
                       "lat" : -14.5994134,
                       "lng" : -28.6731465
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 68.1962901,
                          "lng" : 19.9970779
                       },
                       "southwest" : {
                          "lat" : -75.9725902,
                          "lng" : -82.9931606
                       }
                    }
                 },
                 "place_id" : "ChIJ_7hu48qBWgYRT1MQ81ciNKY",
                 "types" : [ "establishment", "natural_feature" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 04 Nov 2019 17:22:35 GMT
recorded_with: VCR 5.0.0
